.nav {
	display: flex;
	width: 100%;
  height: 60px;
  box-shadow: 0 0 5px rgb(102 89 80);
}
.navone {
	width: 30%;
	display: flex;
}

.navtwo {
	width: 40%;
	display: flex;
  margin: -6px -75px;
  
}
.navthree {
	width: 30%;
  text-align: right;
  margin: 0px 37px;
}
.navthree ul {
  display: flex;
  float: right;
  margin: 0px -64px;
}
.navthree ul li{
  list-style: none;
  font-size: 25px;
  padding: 10px 25px;
 
}
.navtwo ul li {
	padding: 10px 30px;
	list-style: none;
  font-size: 32px;
  
}
.navtwo ul {
	display: flex;
}
.facebook-icon{
  font-size: 50px;
  color: blue;
  
}
.form-box{
  padding: 12px 10px;
}
.section{
  width:100%;
  display: flex;
}
.section-one{
  width:25%;
  height: 650px;
  overflow-y: scroll;
}
.section-one ul li{
  list-style: none;
  font-size: 24px;
  padding: 20px 15px;
}
.section-one ul li span{
  padding: 0px 15px;
}
.section-two{
  width:50%;
  height: 650px;
  overflow-y: scroll;
}
.section-three{
  width:30%;
  height: 650px;
  overflow-y: scroll;
}
.frminput{

}
